name: Release

on:
  push:
    tags:
      - 'v*'

env:
  GO_VERSION: ^1.25

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v5

        - uses: actions/setup-go@v5
          with:
            go-version: ${{ env.GO_VERSION }}

        - uses: goreleaser/goreleaser-action@v6
          with:
            version: latest
            args: release --clean
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
